<ng-container>
<h1>
    Chalk Boom!
</h1>
<p>
    Chalk boom is a game of strategy and luck.

    <h2>Demo</h2>
    <iframe src="https://clips.twitch.tv/embed?clip=CuriousSincereLarkUnSane-76yYqYMlsWlAxfv4&parent=chalk-boom.netlify.app" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
    <br>
    <br>

    <h2>Adding to your stream.</h2>
    Simply add your username to the URL, and add it as a browser source. <br/><br/>

    For example, e.g. <a href="/ruggmatt">https://chalk-boom.netlify.app/ruggmatt</a><br/><br/>

    Chalk Boom is a creation of  <a href="https://github.com/finitesingularity/finitebot/">Mark (Fininte Singularity on Twitch)</a><br/><br/>

    Adapted for this site my RuggMatt at <a href="https://github.com/mattschlosser/ginitebot/tree/chalk-boom">GitHub</a>

</p>
</ng-container> 