<ng-container>
    <div class="page">
        <div class="container">
            <h1>
                Chalk Boom!
            </h1>
            Chalk boom is a game of strategy and luck.

            <h2>Demo</h2>
            <iframe src="https://clips.twitch.tv/embed?clip=CuriousSincereLarkUnSane-76yYqYMlsWlAxfv4&parent=localhost&parent=chalk-boom.netlify.app" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
            <br>
            <br>

            <h2>Adding to your stream.</h2>
            Simply add your username to the URL, and add it as a browser source. <br/><br/>

            For example, e.g. <a href="/ruggmatt">https://chalk-boom.netlify.app/ruggmatt</a><br/><br/>

            <h2>Gameplay</h2>
            Game play is simple. To join the game, type '!me' in chat. You will be assigned a random color (blue or red). 
            The goal of the game is to cover the chalk board with as much as your team's color as possible. Your chalk meter
            will be displayed underneath your name. Use '!boom' to boom your chalk and cover the board with your color.
            The more full your meter is, the more chalk you'll drop. The team with the greatest
            area of the chalkboard covered in their color wins. 

            <h3>Commands</h3>
            <ul>
                <li><b>!me</b> - join the chalk boom game</li>
                <li><b>!boom</b> - drop some chalk on the board</li>
            </ul>


            <h2>Credis</h2>

            Chalk Boom is a creation of  <a href="https://twitch.tv/finitesingularity">Mark (Fininte Singularity on Twitch)</a><br/><br/>

            Adapted for this site by Matt Schlosser at <a href="https://github.com/mattschlosser/finitebot/tree/chalk-boom">this GitHub fork</a>
            <br/><br/>
        </div>
    </div>

</ng-container> 